<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hpdfesubscriptions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hpdfesubscriptions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HpDfeSubscriptions</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HpDfeSubscriptions</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HpSubscriptionsConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:hpdfesubscriptions.database.windows.net,1433;Initial Catalog=HpDfeSubscriptions_db;User ID=dbuser@hpdfesubscriptions;Password=Qwerty123!" Name="Data Source=tcp:hpdfesubscriptions.database.windows.net,1433;Initial Catalog=HpDfeSubscriptions_db;User Id=dbuser@hpdfesubscriptions;Password=Qwerty123!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HpSubscriptions.Database.DatabaseContext, HpSubscriptions" MigrationConfiguration="HpSubscriptions.Migrations.MigrationConfiguration, HpSubscriptions" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HpSubscriptionsConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hpdfesubscriptions.database.windows.net,1433;Initial Catalog=HpDfeSubscriptions_db;User Id=dbuser@hpdfesubscriptions;Password=Qwerty123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>