@model HpSubscriptions.Entities.SubscriptionRecord

@{
    ViewBag.Title = "Content";
}

<div class="panel-body">
    <pre class="prettyprint">@Model.Content</pre>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/prettify");
}